<div>
    <h1>Добро пожаловать в Cole&Son</h1>


    <div style="float: left; width: 720px;">
        <p class="productname" style="padding-left: 8px; padding-right: 10px">Cole and Son was founded in 1875 by John Perry, son of a Cambridgeshire merchant. In those days the company was situated in Islington, north London, an area famous for the 190 hand block printing companies working there in the 18th and 19th centuries.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">Throughout the 19th century Cole &amp; Son printed for all the large well-known companies of the time including Jeffrey &amp; Co, Sanderson and Shand Kydd. In addition to high quality block printing, the company was renowned for supplying beautiful stripes and jaspes.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">In the early days the company built machines that allowed the re-introduction of the process of pan coating and also revived the process of Flocking, invented in Holland in 1680, imitating cut velvet.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">In 1941 the company was bought by A P Cole, proprietor of the company Cole &amp; Son (Wallpapers) Ltd, with showrooms and offices at Mortimer Street in Central London.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">The Cole &amp; Son block archive includes designs produced by J C Crace &amp; Son to furnish many stately homes, palaces, castles and theatres throughout Britain and overseas, including the wallpaper designs of A W Pugin for the Palace of Westminster. The amalgamation of the two businesses in 1941 meant that Cole &amp; Son became the custodians of the most significant collection of wooden printing blocks in Britain.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">In 1949, Cole’s Design Director created one of the first screen print studios in Europe in response to the revolutionary new Contemporary design movement which gave birth to the wild wallpaper designs of the 1950s and 1960s.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">Today, the Cole &amp; Son archive consists of approximately 1,800 block print designs, 350 screen print designs and a huge quantity of original drawings and wallpapers, representing all the styles from the 18th, 19th and early 20th centuries. Amongst these are some of the most important historic wallpaper designs in the world. Cole &amp; Son has provided wallpapers for many historic houses including Buckingham Palace, The White House and the Houses of Parliament.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">Our magnificent archive is the major source of new collections. Designs are carefully selected, adapted and coloured by the Design Studio and printed by craftsmen to produce wallpapers faithful to the character of the original document, yet contemporary in feel.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">Cole &amp; Son continues to produce innovative and beautiful designs, and our current collections reflect our long and distinguished history as well as our continuing passion for new and exciting wallpapers.</p>
        <p class="productname" style="padding-left: 8px; padding-right: 10px">
            <br>
        </p>
        <div>
        <iframe src="http://player.vimeo.com/video/12600359?color=ff9933" width="500" height="390" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a href="http://vimeo.com/12600359">Wallpaper That Moves</a> from <a href="http://vimeo.com/user4049198">Wallpaper History Society</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
    </div>
    </div>
    <div style="float: left;">
        <img class="ui-corner-all" src="@Url.Content("~/Content/images/CS/hist/history1.jpg")" border="0"><br>
        <br>

        <img class="ui-corner-all" src="@Url.Content("~/Content/images/CS/hist/history3.jpg")" border="0"><br>
        <br>
        <img class="ui-corner-all" src="@Url.Content("~/Content/images/CS/hist/history2.jpg")" border="0"><br>
        <br>
        <img class="ui-corner-all" src="@Url.Content("~/Content/images/CS/hist/history4.jpg")" border="0"><br>
        <br>
        <img class="ui-corner-all" src="@Url.Content("~/Content/images/CS/hist/history5.jpg")" border="0"><br>
        <br>
    </div>
    



</div>




