@{
    ViewBag.Title = "Видео контент некоторых брендов представленых на нашем сайте";
    Layout = Request.Params["part"] != null && Request.Params["part"] == "true" ? null : "~/Views/Shared/_Layout.cshtml";
    }

@section script_section
    {
    <script type="text/javascript">

        $(function () {

            $('.btn')
    .click(function () {
        var btn = $(this)
        btn.button('loading')
        setTimeout(function () {
            btn.button('complete')
        }, 4000)

    })
        });
    </script>
    }
<div class="featurette">
    <h2 class="featurette-heading">@ViewBag.Title</h2>
    <button type="button" class="btn btn-large" data-toggle="collapse" data-target="#video_manders" data-loading-text="Загрузка всего видео контента..." data-complete-text="Загрузка окончена!" autocomplete="off" title="Нажмите на кнопку что бы загрузить все видео!">
        <i class="icon-film"></i>&nbsp;Загрузить все видео доступное на сервере

    </button>
    <hr class="featurette-divider">
    <div id="video_manders" class="collapse">
        <hr class="featurette-divider">
        <h2 class="featurette-heading">Little Greene <span class="muted">видео</span></h2>
        <button data-parent="#video_manders" type="button" class="btn btn-primary" data-toggle="collapse" data-target="#video_Little_Greene" data-loading-text="Загрузка видео контента..." data-complete-text="Загрузка окончена!" autocomplete="off">
            Загрузить видео контент...
        </button>
        <div id="video_Little_Greene" class="accordion-body collapse">@Html.Partial("Products/part_LG/video_Little_Greene")</div>

        <hr class="featurette-divider">
        <h2 class="featurette-heading">Farrow & Ball <span class="muted">видео</span></h2>

        <button data-parent="#video_manders" type="button" class="btn btn-info" data-toggle="collapse" data-target="#video_Farrow_and_Ball" data-loading-text="Загрузка видео контента..." data-complete-text="Загрузка окончена!" autocomplete="off">
            Загрузить видео контент...
        </button>
        <div id="video_Farrow_and_Ball" class="accordion-body collapse">@Html.Partial("Products/part_FB/video_Farrow_and_Ball")</div>

        <hr class="featurette-divider">
        <h2 class="featurette-heading">Sanderson <span class="muted">видео</span></h2>
        <button data-parent="#video_manders" type="button" class="btn btn-warning" data-toggle="collapse" data-target="#video_Sanderson" data-loading-text="Загрузка видео контента..." data-complete-text="Загрузка окончена!" autocomplete="off">
            Загрузить видео контент...

        </button>
        <div id="video_Sanderson" class="collapse">@Html.Partial("Products/part_Sn/video_Sanderson")</div>

        <hr class="featurette-divider">
        <h2 class="featurette-heading">William Howard <span class="muted">видео</span></h2>
        <button data-parent="#video_manders" type="button" class="btn btn-success" data-toggle="collapse" data-target="#video_William_Howard" data-loading-text="Загрузка видео контента..." data-complete-text="Загрузка окончена!" autocomplete="off">
            Загрузить видео контент...
        </button>
        <div id="video_William_Howard" class="collapse">@Html.Partial("Products/part_WH/video_William_Howard")</div>
        <hr class="featurette-divider">
    </div>

</div>
<hr class="featurette-divider">


