<style>
    div.text {
    text-shadow: 2px 2px 2px #808080;
    }
</style>

<div class="text">Краски, обои, текстиль и плинтуса для Вашего дома на нашем сайте</div>
<div>@Html.ActionLink("Manders.com.ua", "Index", "Home", null, new {@class="label"})</div>
<ul class="nav nav-tabs">
<li>@Html.Partial("Products/paints_exl")</li>
<li>@Html.Partial("Products/wallpaper_exl")</li>
<li>@Html.Partial("Products/textile_exl")</li>
<li>@Html.Partial("Products/plinth_exl")</li>
</ul>



