@{
    ViewBag.Title = "Swaffer";
}


<script type="text/javascript">
    $(document).ready(function () {
        var timer, last;
        var i = 1;
        var limit = $("#bannerImgSF  li").size();
        var active = true;

        animate(i, 4000);

        function animate(i, last, time) {
            timer = setTimeout(function () {
                i = doBanner(i);
                last = i;
                if (i > limit - 1) { i = 0; }
                i++;
                animate(i, last, 5000);
            }, time);
        }

        function doBanner(i) {
            $("#bannerImgSF  li:visible").hide();
            $("#bannerTextSF  li:visible div").hide();
            $("#bannerImgSF  li:nth-child(" + i + ")").show();

            $("#bannerTextSF  li:nth-child(" + i + ") div").show(200);
            return i;
        }

        $("#bannerTextSF  li").click(function () {
            i = (parseInt($(this).attr('id').substr(3, 3)));
            if (active) {
                clearTimeout(timer);
                doBanner(i);
                active = false;
            } else {
                animate(i, 5000);
                active = true;
            }
        });

    });

        </script>        

<div id="logoCat">
<a class="no_color" href="@Url.Action("Swaffer", "Products")"><img class="ui-corner-all" src="@Url.Content("~/Content/images/Swaffer/logo.gif")" /></a>
</div>




<div id="bannerBoxSF">
    <ul id="bannerImgSF" class="bannerImg ">
        <li style="display: none;"><a class="no_color" href="@Url.Action("Swaffer_textil", "Products")"><img class="ui-corner-all" width="230" height="290" alt="Swaffer Текстиль" title="Swaffer Текстиль" src="@Url.Content("~/Content/images/Zoffany/Home-Page-1.jpg")"></a></li>
        <li style="display: none;"><a class="no_color" href="@Url.Action("Swaffer", "Products")"><img class="ui-corner-all" width="230" height="290" alt="Swaffer" title="Swaffer" src="@Url.Content("~/Content/images/Zoffany/Home-Page-2.jpg")"></a></li>
        <li style="display: list-item;"><a class="no_color" href="@Url.Action("Swaffer_catalog", "Products")"><img class="ui-corner-all" width="230" height="290" alt="Каталог компании Swaffer" title="Каталог компании Swaffer" src="@Url.Content("~/Content/images/Zoffany/Home-Page-3.jpg")"></a></li>
    </ul>
    
    <ul id="bannerTextSF" class="bannerText ">
        <li id="txt1">
            <h3>
                <a>Текстиль Swaffer </a></h3>
            <div style="display: none;">
                <p>      База временно не доступна                  </p>
            </div>
        </li>
        <li id="txt2">
            <h3>
                <a>Swaffer</a></h3>
            <div style="display: none;">
                <p>
                База временно не доступна</p>
            </div>
        </li>
        <li id="txt3">
            <h3>
                <a>Каталог компании Swaffer</a></h3>
            <div style="display: none;">
                <p>
                    База временно не доступна</p>
            </div>
        </li>
    </ul>
</div>








