<div class="text">
     <style>
          h1, p 
          {
              color: #000000;
              text-align:justify;
              text-decoration:none;
          }

      </style>
<h1>@Html.ActionLink("Текстиль","Textile","Products")</h1>
<br />
	<br />
<span lang="RU">В <span lang="EN">Manders <span lang="RU">Вы сможете найти огромный выбор высококачественного английского текстиля. 
    В наших магазинах Вы встретите такие бренды как
        <span lang="EN">: @Html.ActionLink("Sanderson", "Sanderso_textile", "Products"), @Html.ActionLink("Morris & Co", "Morris_and_Co_textile","Products"), @Html.ActionLink("Swaffer", "Swafer_textile", "Products"), 
            @Html.ActionLink("Zoffany", "Zoffany_textile", "Products").

        <span lang="RU">Поставка текстиля производится под заказ. Срок поставки составляет&nbsp;примерно 30&nbsp;календарных дней.

    
    </div>