@{
    ViewBag.Title = "THE LITTLE GREENE";
}

        
<link href="../../Content/SliderStyle.css" rel="stylesheet" type="text/css" />
    
    
<script type="text/javascript">
    $(function () {
        $('#slidesLG').slides(
            {
                preload: true,
                preloadImage: '../../Content/images/show/loading.gif',
                play: 4000,
                pause: 1500,
                hoverPause: true,
                animationStart: function (current) {
                    $('.caption').animate({
                        bottom: -35
                    }, 100);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationStart on slide: ', current);
                    };
                },
                animationComplete: function (current) {
                    $('.caption').animate({
                        bottom: 0
                    }, 200);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationComplete on slide: ', current);
                    };
                },
                slidesLoaded: function () {
                    $('.caption').animate({
                        bottom: 0
                    }, 200);
                }
            });
    });
    </script>
    



<div id="logoCat">
    <a href="@Url.Action("THE_LITTLE_GREENE", "Products")" title="Brand Little Green"><img src="../../Content/images/LG/logo_from_site.png" /></a>
</div>

<div id="slidesLG">
            <div class="slides_container">
                <div class="slide">
                    <a href="@Url.Action("THE_LITTLE_GREENE_paints", "Products")"><img src="../../Content/images/LG/home_LG_1.jpg" alt="image01" /></a>
                    <div class="caption ui-corner-all" style="bottom:0">
							<p><a href="@Url.Action("THE_LITTLE_GREENE_paints", "Products")">Краски Little Green</a></p>
						</div>
                </div>
                <div>
                   <a href="@Url.Action("THE_LITTLE_GREENE_wallpaper", "Products")"> <img src="../../Content/images/LG/home_LG_2.jpg" alt="image02" /> </a>
                   <div class="caption ui-corner-all" style="bottom:0">
							<p><a href="@Url.Action("THE_LITTLE_GREENE_wallpaper", "Products")">Обои Little Green</a></p>
						</div>
                </div>
                <div>
                   <a href="@Url.Action("THE_LITTLE_GREENE", "Products")"> <img src="../../Content/images/LG/home_LG_3.jpg" alt="image03" /></a>
                   <div class="caption ui-corner-all" style="bottom:0">
							<p><a href="@Url.Action("THE_LITTLE_GREENE", "Products")">Little Green - Manders</a></p>
						</div>
                </div>
                <div>
                 <a href="@Url.Action("THE_LITTLE_GREENE_catalog", "Products")">   <img src="../../Content/images/LG/home_LG_4.jpg" alt="image04" /></a>
                 <div class="caption ui-corner-all" style="bottom:0">
							<p><a href="@Url.Action("THE_LITTLE_GREENE_catalog", "Products")">Каталог Little Green</a></p>
						</div>
                </div>
            </div>
        </div>

