<div class="text">
    <style>
          h1, p 
          {
              color: #000000;
              text-align:justify;
              text-decoration:none;
          }

      </style>
<h1>@Html.ActionLink("ОБОИ", "wallpaper", "Products")</h1>
<br />
    <br />
<span lang="RU">В магазине <span lang="en"> Manders представлены обои известных брендов
<span lang="EN">: 
   
        <ul>
            <li>@Html.ActionLink("Farrow & Ball", "FARROW_AND_BALL_wallpaper", "Products")</li>
            <li>@Html.ActionLink("Little Greene", "Little_Greene_wallpaper", "Products")</li>
            <li>@Html.ActionLink("Sanderson", "Sanderson_wallpaper", "Products")</li>
            <li>@Html.ActionLink("Morris & Co", "Morris_and_Co_wallpaper", "Products")</li>
            <li>@Html.ActionLink("Zoffany", "Zoffany_wallpaper", "Products")</li>
            <li>@Html.ActionLink("Сole&Son", "Cole_and_Son_wallpaper", "Products")</li>
        </ul>
    

</div>			