@{
    ViewBag.Title = "Zoffany baner Manders";
 }



<link href="@Url.Content("~/Content/css/slide_baner.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(function () {
            $('#slidesBaner').slides(
            {
                preload: true,
                preloadImage: '../../Content/images/show/loading.gif',
                play: 2000,
                pause: 800,
                hoverPause: true,
                animationStart: function (current) {
                    $('.caption').animate({
                        bottom: -35
                    }, 100);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationStart on slide: ', current);
                    };
                },
                animationComplete: function (current) {
                    $('.caption').animate({
                        bottom: 0
                    }, 200);
                    if (window.console && console.log) {
                        // example return of current slide number
                        console.log('animationComplete on slide: ', current);
                    };
                },
                slidesLoaded: function () {
                    $('.caption').animate({
                        bottom: 0
                    }, 200);
                }
            });
        });
    </script>


<div id="slidesBaner">
            <div class="slides_container">
                <div class="slide">
                    
                    <a href="@Url.Action("Zoffany_textile", "Products")"><img src="../../Content/images/Zoffany/baner/homeb_Z_1.jpg" alt="Morris & Co Textile" /></a>
                    <div class="caption ui-corner-all" style="bottom:0">
						<p><a href="@Url.Action("Zoffany_textile", "Products")">Текстиль Zoffany</a></p>
				     </div>
                </div>
                <div class="slide">
                    
                   <a href="@Url.Action("Zoffany_wallpaper", "Products")"><img src="../../Content/images/Zoffany/baner/homeb_Z_2.jpg" alt="Morris & Co Wallpaper" /> </a>
                   <div class="caption ui-corner-all" style="bottom:0">
						<p>	<a href="@Url.Action("Zoffany_wallpaper", "Products")">Обои Zoffany</a></p>
						</div>
                </div>
                <div class="slide">
                    
                    <a href="@Url.Action("Zoffany_catalog", "Products")"><img src="../../Content/images/Zoffany/baner/homeb_Z_3.jpg" alt="Morris & Co Catalog" /></a>   
                   <div class="caption ui-corner-all" style="bottom:0">
						<p> <a href="@Url.Action("Zoffany_catalog", "Products")">Zoffany Каталог</a></p>
						</div>
                </div>
                
                
            </div>
            
        </div>
    

