@{
    ViewBag.Title = "Slide William Howard";
}

       

        <script type="text/javascript">
            $(document).ready(function () {
                var timer, last;
                var i = 1;
                var limit = $("#bannerImgWH li").size();
                var active = true;

                animate(i, 4000);

                function animate(i, last, time) {
                    timer = setTimeout(function () {
                        i = doBanner(i);
                        last = i;
                        if (i > limit - 1) { i = 0; }
                        i++;
                        animate(i, last, 5000);
                    }, time);
                }

                function doBanner(i) {
                    $("#bannerImgWH li:visible").hide();
                    $("#bannerTextWH li:visible div").hide();
                    $("#bannerImgWH li:nth-child(" + i + ")").show();

                    $("#bannerTextWH li:nth-child(" + i + ") div").show(200);
                    return i;
                }

                $("#bannerTextWH li").click(function () {
                    i = (parseInt($(this).attr('id').substr(3, 3)));
                    if (active) {
                        clearTimeout(timer);
                        doBanner(i);
                        active = false;
                    } else {
                        animate(i, 5000);
                        active = true;
                    }
                });

            });
        </script>



<div id="logoCat">
<a class="no_color" href="@Url.Action("William_Howard","Products")" title="William Howard - Плинтус, молдинги из МДФ"><img class="ui-corner-all" src="@Url.Content("~/Content/images/WH/logo_WH.jpg")" alt="William Howard"/></a>
</div>


<div id="bannerBoxWH">
    <ul id="bannerImgWH" class="bannerImg">
        <li style="display: none;"><a class="no_color" href="@Url.Action("William_Howard","Products")"><img width="630" height="300" alt="Плинтуса William Howard" src="@Url.Content("~/Content/images/WH/baner/homemasts_maindeck.jpg")" title = "Плинтус, молдинги из МДФ"></a></li>
        <li style="display: list-item;"><a class="no_color" href="@Url.Action("William_Howard_catalog", "Products")"><img width="630" height="300" alt="Little Greene Обои" src="@Url.Content("~/Content/images/WH/baner/homemasts_polyco.jpg")" title="Каталог William Howard"></a></li>
        </ul>
    
    <ul id="bannerTextWH" class="bannerText">
        <li id="txt1">
            <h3 class="ui-corner-top">
                <a>Плинтуса William Howard</a></h3>
            <div style="display: none;">
                <p>
                    @Html.ActionLink("W. Howard Limited", "William_Howard", "Products", null, new {title = "является ведущей компанией по производству профилей из МДФ в Великобритании" }) является ведущей компанией по производству профилей из МДФ в Великобритании. Наша продукция включает плинтусы, архитравы, внутренние подоконники, дверные коробки и дверные наличники.
                </p>
            </div>
        </li>
        <li id="txt2">
            <h3 class="ui-corner-bottom">
                <a>Каталог William Howard</a></h3>
            <div style="display: none;">
                <p class="ui-corner-bottom">
                    Все @Html.ActionLink("профили", "William_Howard_catalog", "Products", null, new {title = "Каталог компании William Howard на нашем сайте" }) из МДФ и фанеры, которые используются при изготовлении продукции, сертифицированы Советом по экологически рациональному лесному хозяйству (FSC). Наша цель: быть основным партнером продавцов лесо- и строительных материалов в Великобритании и Европе Наша идеология: нашу продукцию - в каждый дом </p>
            </div>
        </li>
            </ul>
</div>



    




