<div id="one">
<div>
<img src="@Url.Content("~/Content/images/WH/prod/productsheads2_core.png")" />

<div>
 <ul>
 <li>Доступный в более чем 160 профилей и размеров</li>
   <li>  Изготовитель гарантирует "без дефектов" - без сучков, без перекосов, дефектов нет</li>
  <li>   Два раза загрунтовать и готово!</li>
  <li>   Производится на основе устойчивой к влаги</li>
  <li>   FSC сертифицированные</li>
  <li>   Дверные накладки и корпус изготовлены по CERTIFIRE стандартам</li>
   

 </ul>       
</div>

</div>

<div>
<img src="@Url.Content("~/Content/images/WH/prod/header_primer_joinery.png")" />
<div>Наш ассортимент состоит из 5 различных вариантов на выбор!</div>
<div>
<ul>
<li>Разной длины</li>
<li>Традиционные наборы</li>
<li>Термоусадка регулируемой головкой дверных накладок и корпусов</li>
<li>Встраиваемые накладоки в корпус</li>
<li>Подоконники по новым технологиям</li>
</ul>
</div>
</div>
<div>
    <img src="@Url.Content("~/Content/images/WH/prod/header_veneered.png")" />
    <ul>
    <li>Наши продукты имеют Шпонированные основные преимущества по сравнению с твердой древесиной.</li>
    <li>  МДФ Погонаж не крутить или деформировать и бездефектных что означает значительное сокращение времени, отходов и затрат.</li>
      <li>Доступный в более чем 40 профилей и размеров</li>
     <li> Доступный со склада в дуб и орех</li>
     <li> Не коробится и не твист</li>
     <li> Экологичность - FSC сертифицированных</li>
     <li> Создает такой же внешний вид, как массивной древесины</li>
     <li> Bespoke профилей и шпона доступны для заказа</li>
     <li> Поставляется готовым к незавершенным воска, масла, лака или синевы отделкой</li>
      <li>Плинтусы и наличники могут быть установлены с зазором заполнения клеем или традиционных гранул лиственных пород.</li>
    </ul>
</div>
 <div>
     <img src="@Url.Content("~/Content/images/WH/prod/header_polyco_core.png")" />
     <ul>
        <li>Доступен в 5 разных цветов</li>
        <li>Четыре разных профиля</li>
     </ul>
 </div>   
 <div>
    <img src="@Url.Content("~/Content/images/WH/prod/header_maindeck.png")" />
     <ul>
        <li>Низкие эксплуатационные расходы - не живопись, окрашивание или смазки требуется.</li>
     <li>Долговечность - доказательство гнили и осколок доказательство.</li>
     <li>Экономически эффективным.</li>
     <li>Противоскользящие</li>
     <li>Экологически чистые.</li>
     <li>Primer Mould + Plus Men палубе древесины композитный настил изготавливается с использованием восстановленных волокон древесины и переработанного полиэтилена высшего сорта пластика.</li>
     <li>Primer Mould + Plus платы Men палубе профилированные, а затем оставляют на воздухе прохладном означает, что они не будут крутить или деформироваться.</li>
    <li> В отличие от некоторых других композитных настилов, которые должны быть повышенными, Primer Mould + Plus Мэн палубе композитные деревянные настилы могут иметь прямой контакт земли.</li>
        
     </ul>
 </div>
 <div>
     <img src="@Url.Content("~/Content/images/WH/home/easi.png")" />
     
 </div>
</div>