<hr class="featurette-divider">

<div>
    <h1 class="featurette-heading">Вас приветствует компания Farrow & Ball</h1>
    @Html.Partial("Products/part_FB/_new_colours_2013")
    <hr class="featurette-divider">
    <h2 class="featurette-heading, muted">Вдохновение...</h2>
    <a name="BackToMenu"></a>
    <hr class="featurette-divider">
    <div>
        
    <iframe class="pull-right" width="560" height="315" src="//www.youtube.com/embed/lx9FkGx9FJA?rel=0" frameborder="0" allowfullscreen></iframe>

        <ul class="menuProduct" style="width: 450px;">
            <li><a class="btn ui-corner-all" href="#Vas_privetstvuet_kompania_F&B" title="Вас приветствует компания Farrow & Ball">Вас приветствует компания Farrow & Ball</a></li>
            <li><a class="btn ui-corner-all" href="#Proizvodstvo_&_masterstvo" title="Производство и мастерство">Производство и мастерство</a></li>
            <li><a class="btn ui-corner-all" href="#Tsvet_v_Vashem_dome">Цвет в Вашем доме</a></li>
            <li><a class="btn ui-corner-all" href="#Rekomendatsii_po_dekorirovaniyu">Рекомендации по декорированию</a></li>
            <li><a class="btn ui-corner-all" href="#Primery_dlya_vdokhnoveniya">Примеры для вдохновения</a></li>
            <li><a class="btn ui-corner-all" href="#Wallpaper">Обои</a></li>
            <li><a class="btn ui-corner-all" href="#Interyernyye_kraski">Интерьерные краски</a></li>
            <li><a class="btn ui-corner-all" href="#Kraski_dlya_vneshnikh_rabot">Краски для внешних работ</a></li>
            <li><a class="btn ui-corner-all" href="#Spetsialniye_otdelochnie_pokrytyya">Специальные отделочные покрытия</a></li>
            <li><a class="btn ui-corner-all" href="#Gruntovki_i_pervichnyye_pokrytiya">Грунтовки и первичные покрытия</a></li>
            <li><a class="btn ui-corner-all" href="#Vi_delaete_vibor">ВЫ делаете выбор</a></li>
            <li><a class="btn ui-corner-all" href="#Primenenie">Применение</a></li>
            <li><a class="btn ui-corner-all" href="#Kak_sdalat_zakaz">Как сделать заказ</a></li>
        </ul>
    </div>
    <a name="Vas_privetstvuet_kompania_F&B"></a>
    <hr class="featurette-divider">

    <div class="lead">
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/brush_header.jpg")" />

        </div>
        <p>Краски Farrow & Ball возникли и всегда производились в графстве Дорсет, Англия. Да, именно так. Мы всегда находились в Англии, еще с тех времен, когда Джон Фэрроу и его друг Ричард Болл, энтузиаст в области разработок красок, впервые основали компанию.</p>
        <p>Их страсть к изготовлению красок только из лучших компонентов и традиционные технологии позволили нашей компании выдержать проверку временем и изменчивость модных тенденций.</p>
        <p>Они были настолько скрупулезны в своем стремлении создать не имеющие аналогов краски, что мы гарантируем, что Вы едва ли найдете подобные краски и сегодня, поскольку со временем, созданные ими рецептуры и технологические процессы претерпели лишь незначительные изменения.</p>
        <p>В процессе создания наших красок присутствует элемент «алхимии». Это — высококачественные пигменты, богатые связующие смолы и высокая степень стойкости основных компонентов, которые создают такую глубину и насыщенность цвета.</p>
        <p>Мы считаем, что краска - это нечто большее, чем просто покрытие поверхности. Именно поэтому краска Borrowed Light® точно передает оттенок солнечного света, позаимствованный тенистой прохладой. Наши краски создают образ дома.</p>
        <p>Кроме того, мы производим обои ручной выделки. Мы используем наши краски для нанесения оттисков на бумагу, используя традиционную технологию клише, а также методы трафаретной печати, благодаря чему они приобретают свою уникальную текстуру.</p>
        <p>На нашем сайте Вы найдете множество идей и советов по выбору цвета, независимо от Ваших предпочтений, а наши консультанты по подбору красок всегда окажут Вам помощь в наших демонстрационных залах и фирмах, имеющих запасы готовой продукции, в любой точке мира. Кроме того, Вы сможете познакомиться с другими идеями на веб-сайте www.farrow-ball.com.</p>
        <p>Мы надеемся, что Вы с удовольствием подберете краски и обои для своего дома из нашего ассортимента.</p>
        <p>Желаем Вам счастливого и удачного ремонта. С уважением, коллектив компании Manders.</p>

    </div>
    <a name="Proizvodstvo_&_masterstvo"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Производство и мастерство</h2>
    <div class="lead">
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/farrow-and-ball1-e1353714773692.jpg")" />

        </div>
        <p>В компании Farrow & Ball мы чрезвычайно гордимся тем, что прилагаем максимум усилий к тому, что у нас получается лучше всего: производить не имеющие аналогов краски и обои, украшающие стены домов во всем мире.</p>
        <p>Наша специализация - внимание к деталям и исключительное качество. Мы строго контролируем каждую партию краски и обоев - как крупную, так и небольшую, - которая выходит из цеха нашего производства.</p>
        <p>Поэтому, независимо от того, приобретаете ли Вы 5 или 500 литров краски Elephant's Breath®, мы одинаково тщательно проверим каждую банку на соответствие цвета и качество.</p>
        <p>Поэтому единственное, на что все будут обращать внимание в Вашей комнате, — это цвет нашей краски.</p>

        <p>Наши окрашенные обои обладают исключительным качеством, поскольку они произведены на основе наших экологически чистых красок на водной основе и с использованием традиционных технологий.</p>
        <p>Чрезвычайно требовательные специалисты нашего производства контролируют каждый этап технологического процесса. Нам нравится наносить изображения традиционными блоками или методом «царапанья», создавая изысканные решения.</p>
        <p>Для нанесения грунтового слоя мы используем ручной способ окраски, что как раз и придает нашим обоям необычайно приятную на ощупь текстуру. Такой подход, в сочетании с нанесением еще одного слоя краски для создания узоров или полос, обеспечивает несравненное качество обоев. Мы добавляем слой превосходного лака особого состава, чтобы обеспечить долговечность и легкую в уходе поверхность.</p>
        <div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/maker.jpg")" />

        </div>
        <p>Вся продукция изготавливается на наших производственных площадях, поэтому Вы всегда можете быть уверены в ее наилучшем качестве. </p>
    </div>
    
    @Html.Partial("Products/part_FB/paints_Farrow_and_ball")
    
    @*Примеры для вдохновения*@
    <a name="Primery_dlya_vdokhnoveniya"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Примеры для вдохновения</h2>

    <div class="lead">


        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_1.jpg")" />
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_2.jpg")" />
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_3.jpg")" />
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_4.jpg")" />
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_5.jpg")" />
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_6.jpg")" />
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_7.jpg")" />


        </div>
    </div>
    @*Wallpaper*@
    
    @Html.Partial("Products/part_FB/wallpapers_Farrow_and_ball")

    @*Вы делаете выбор*@
    <a name="Vi_delaete_vibor"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Вы делаете выбор...</h2>
    <div class="featurette lead">
        <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/vi_delaete_vibor.jpg")" />
        <p>Мы можем наслаждаться нашими фантазиями, представляя себе карнизы цвета Cooking Apple Green®, а также воображаемую кухню цвета светло-розового антрацита Cinder Rose...</p>
        <p>Но мы действительно понимаем всю степень сложности, поскольку Вам приходится ориентироваться в огромном количестве образцов красок и обоев.</p>
        <p>Мы готовы помочь Вам принять решение максимально удобным для Вас способом: в наших демонстрационных залах, фирмах с запасами готовой продукции или если Вы свяжетесь с нами непосредственно.</p>
        <p>Кроме нашего бесплатного индивидуального совета, на нашем веб-сайте Вы найдете много полезной информации и помощь, включая составленную цветовую гамму для каждого из наших оттенков, полезные советы и рекомендации по сочетанию цветов для Вашего интерьера, а также информацию о наших продуктах.</p>
        <p>С максимальной пользой используйте наши банки для пробы краски и возьмите домой понравившийся цвет, чтобы Вы могли увидеть, как он смотрится в течение дня в комнате, стены которой Вы намереваетесь окрасить.</p>
        <p>У нас также есть образцы обоев формата А4 всех рисунков и сочетаний цветов, чтобы гарантировать, что Вы абсолютно довольны и цветом и рисунком прежде, чем разместить свой заказ.</p>


    </div>
    @*Применение*@
    <a name="Primenenie"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Применение</h2>
    <div class="featurette lead">
        <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/primenenie2.jpg")" />
        <h2 class="featurette-heading">МАЛЯРНЫЕ КИСТИ И ВАЛИКИ FARROW & BALL</h2>
        <p>Старую пословицу «У плохого мастера всегда виновата пила» невозможно применить к нашей краске, если Вы используете серию наших эксклюзивно разработанных малярных кистей и валиков.</p>
        <p>Приверженцы краски Farrow & Ball изготовили эту продукцию, чтобы результатом покраски всегда была надежная и непревзойденная отделка Ваших стен.</p>
        <p>Малярные кисти с рукоятками из березы имеют высококачественную синтетическую щетину, которая не оставляет следов от кисти и обеспечивает великолепное равномерное нанесение.</p>
        <p>Кроме того, они весьма прочные. И к тому же сохраняют форму кисти во время применения и после него.</p>
        <p>Специально разработанные валики также обеспечивают безупречное отделочное покрытие с великолепным равномерным распределением.</p>
        <br />
        <br />
        <h2 class="featurette-heading">КЛЕЙ ДЛЯ ОБОЕВ FARROW & BALL</h2>
        <p>Наш клей для обоев был специально разработан для гармоничной работы с обоями Farrow & Ball.</p>
        <p>Порошкообразный клей поставляется в тубе, которая складывается вдвое в виде измерительной емкости, что облегчает смешивание и использование клея для обоев.</p>
        <p>Каждая туба рассчитана для наклеивания до пяти рулонов обоев.</p>
        <br /><br />
        <img class="featurette-image pull-right  ui-corner-all" src="@Url.Content("~/Content/images/FB/primenenie.jpg")" width="400"/>
        <h2 class="featurette-heading">РАСЧЕТ НЕОБХОДИМОГО ВАМ КОЛИЧЕСТВА ОБОЕВ</h2>
        <p>Мы с удовольствием поможем Вам рассчитать количество обоев, которое вероятно понадобится для Вашего дома, но наш совет дается исключительно в виде рекомендации. 
            Вышлите нам информацию с указанием дизайна, высоты стен иод оклейку обоев, количества стен и их длины на номер факса  044 289-53-89, 289-78-88  или на адрес <a href="mailto:irina@manders.com.ua" title="кликните для отправки нам письма">электронной почты</a>. 
            В рамках оценки мы не будем учитывать наличие окон или дверей, но для удобства мы включим дополнительный рулон для использования в случае непредвиденных обстоятельств (случайной порчи) при наклейке или для выполнения ремонта в будущем. 
            Пожалуйста, согласуйте количество со своим дизайнером прежде, чем разместить Ваш окончательный заказ.</p>
        
        
    </div>
    @*Как сделать заказ*@
    <a name="Kak_sdelat_zakaz"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Как сделать заказ</h2>
    <div class="featurette lead"> 
         <p>Продукцию Farrow & Ball можно приобрести через наши салоны и у наших дилеров по всеми миру.</p>
        <p>Большинство цветов и красок можно приобрести непосредственно в наших салонах и у наших дилеров. Если нужного цвета нет в наличии, то срок поставки составит 7 календарных дней (только в ЕС). Все обои производятся на заказ и будут доставлены в течение 10 календарных дней (только в ЕС).</p>
        <p>За рекомендациями по цвету, краскам или обоям, пожалуйста, обращайтесь в наш салон координаты которого вы можете найти в разделе @Html.ActionLink("контакты в меню нашего сайта", "Contact", "Home", null, new { title = "кликните для перехода в раздел контакты на нашем сайте" }).</p>
        <div class="featurette"><img class="featurette-image pull-right  ui-corner-all" src="@Url.Content("~/Content/images/FB/FB_Heritage.jpg")" width="300"/></div>
    </div>
</div>





<div style="position: relative; left: 400px;">
    <a class="fl floating" href="#BackToMenu" title="Back to menu Farrow & Ball">Вернуть к меню Farrow & Ball</a>
</div>






