<hr class="featurette-divider">
<div>
    <h1 class="featurette-heading">Вас приветствует компания Farrow & Ball</h1>
    <h2 class="featurette-heading, muted">Вдохновение...</h2>
    <a name="BackToMenu"></a>
    <hr class="featurette-divider">
    <div>
        
        <ul class="menuProduct" style="width: 450px;">
            <li><a href="#Vas_privetstvuet_kompania_F&B" title="Вас приветствует компания Farrow & Ball">Вас приветствует компания Farrow & Ball</a></li>
            <li><a href="#Proizvodstvo_&_masterstvo" title="Производство и мастерство">Производство и мастерство</a></li>
            <li><a href="#Tsvet_v_Vashem_dome">Цвет в Вашем доме</a></li>
            <li><a href="#Rekomendatsii_po_dekorirovaniyu">Рекомендации по декорированию</a></li>
            <li><a href="#">Примеры для вдохновения</a></li>
            <li><a href="#Wallpaper">Обои</a></li>
            <li><a href="#">Интерьерные краски</a></li>
            <li><a href="#">Краски для внешних работ</a></li>
            <li><a href="#">Специальные отделочные покрытия</a></li>
            <li><a href="#">Грунтовки и первичные покрытия</a></li>
            <li><a href="#">ВЫ делаете выбор</a></li>
            <li><a href="#">Применение</a></li>
            <li><a href="#">Как сделать заказ</a></li>
        </ul>
    </div>
    <a name="Vas_privetstvuet_kompania_F&B"></a>
    <hr class="featurette-divider">

    <div class="lead">
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/brush_header.jpg")" />

        </div>
        <p>Краски Farrow & Ball возникли и всегда производились в графстве Дорсет, Англия. Да, именно так. Мы всегда находились в Англии, еще с тех времен, когда Джон Фэрроу и его друг Ричард Болл, энтузиаст в области разработок красок, впервые основали компанию.</p>
        <p>Их страсть к изготовлению красок только из лучших компонентов и традиционные технологии позволили нашей компании выдержать проверку временем и изменчивость модных тенденций.</p>
        <p>Они были настолько скрупулезны в своем стремлении создать не имеющие аналогов краски, что мы гарантируем, что Вы едва ли найдете подобные краски и сегодня, поскольку со временем, созданные ими рецептуры и технологические процессы претерпели лишь незначительные изменения.</p>
        <p>В процессе создания наших красок присутствует элемент «алхимии». Это — высококачественные пигменты, богатые связующие смолы и высокая степень стойкости основных компонентов, которые создают такую глубину и насыщенность цвета.</p>
        <p>Мы считаем, что краска - это нечто большее, чем просто покрытие поверхности. Именно поэтому краска Borrowed Light® точно передает оттенок солнечного света, позаимствованный тенистой прохладой. Наши краски создают образ дома.</p>
        <p>Кроме того, мы производим обои ручной выделки. Мы используем наши краски для нанесения оттисков на бумагу, используя традиционную технологию клише, а также методы трафаретной печати, благодаря чему они приобретают свою уникальную текстуру.</p>
        <p>На нашем сайте Вы найдете множество идей и советов по выбору цвета, независимо от Ваших предпочтений, а наши консультанты по подбору красок всегда окажут Вам помощь в наших демонстрационных залах и фирмах, имеющих запасы готовой продукции, в любой точке мира. Кроме того, Вы сможете познакомиться с другими идеями на веб-сайте www.farrow-ball.com.</p>
        <p>Мы надеемся, что Вы с удовольствием подберете краски и обои для своего дома из нашего ассортимента.</p>
        <p>Желаем Вам счастливого и удачного ремонта. С уважением, коллектив компании Manders.</p>

    </div>
    <a name="Proizvodstvo_&_masterstvo"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Производство и мастерство</h2>
    <div class="lead">
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/farrow-and-ball1-e1353714773692.jpg")" />

        </div>
        <p>В компании Farrow & Ball мы чрезвычайно гордимся тем, что прилагаем максимум усилий к тому, что у нас получается лучше всего: производить не имеющие аналогов краски и обои, украшающие стены домов во всем мире.</p>
        <p>Наша специализация - внимание к деталям и исключительное качество. Мы строго контролируем каждую партию краски и обоев - как крупную, так и небольшую, - которая выходит из цеха нашего производства.</p>
        <p>Поэтому, независимо от того, приобретаете ли Вы 5 или 500 литров краски Elephant's Breath®, мы одинаково тщательно проверим каждую банку на соответствие цвета и качество.</p>
        <p>Поэтому единственное, на что все будут обращать внимание в Вашей комнате, — это цвет нашей краски.</p>

        <p>Наши окрашенные обои обладают исключительным качеством, поскольку они произведены на основе наших экологически чистых красок на водной основе и с использованием традиционных технологий.</p>
        <p>Чрезвычайно требовательные специалисты нашего производства контролируют каждый этап технологического процесса. Нам нравится наносить изображения традиционными блоками или методом «царапанья», создавая изысканные решения.</p>
        <p>Для нанесения грунтового слоя мы используем ручной способ окраски, что как раз и придает нашим обоям необычайно приятную на ощупь текстуру. Такой подход, в сочетании с нанесением еще одного слоя краски для создания узоров или полос, обеспечивает несравненное качество обоев. Мы добавляем слой превосходного лака особого состава, чтобы обеспечить долговечность и легкую в уходе поверхность.</p>
        <div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/PoizvMaster.png")" />

        </div>
        <p>Вся продукция изготавливается на наших производственных площадях, поэтому Вы всегда можете быть уверены в ее наилучшем качестве. </p>
    </div>
    <a name="Tsvet_v_Vashem_dome"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Цвет в Вашем доме</h2>
    <div class="featurette">
        <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler0.jpg")" />

    </div>
    <div class="lead">
        <p>Вам необязательно обучаться искусству оформления интерьеров, чтобы выбрать свою цветовую гамму. Мы считаем, что самое главное - это ощущение уюта и комфорта в доме.</p>
        <p>Прежде чем перейти к выбору цвета, подумайте о стиле, назначении и форме пространства, которое Вы намерены декорировать.</p>
        <p>Мы предпочитаем начинать подбор цвета с прихожей, чтобы создать естественный цветовой переход из комнаты к комнате.</p>
        <p>Мы выбрали 132 цветовых варианта красок, которые представляют собой подготовленную палитру, благодаря которой легко сказать, какие оттенки дополняют друг друга, позволяя создать гамму настроений и стилей, от мягких и нейтральных, до ярких и оригинальных.</p>
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler1.jpg")" />

        </div>
    </div>

    @*Paints*@
    <a name="Traditionnie_neytralnie"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Традиционные нейтральные</h2>
    <div class="lead">
        <p>Нейтральные цвета Farrow & Ваll далеко не бесцветны. Наша компания славится их сдержанной гармонией и способностью изящно украшать комнату.</p>
        <p>Наши обои тоже не занимают нейтральную позицию. Традиционно изготовленные с использованием нашей собственной краски, они созданы, чтобы гармонично сочетаться с оттенками наших красок. На следующей странице мы предлагаем несколько вариантов сочетаний обоев для каждой из четырех групп нейтральных оттенков:</p>
        <p>Такие теплые серые тона как Sliррег Satin, Lime White, Off-White и Old White обеспечивают утонченный присутствия. Это традиционные цвета, которые отлично смотрятся в современных интерьерах.</p>

        <div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler.jpg")" />

        </div>

    </div>
    <a name="Neytralnie_tsveta_na_krasnoy_isnove"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Нейтральные цвета на красной основе</h2>
    <div class="lead">
        <p>Теплые тона предназначены не только для продуваемых сквозняком комнат. Рointing®, Dimity®, Joa's White® и Archive® помогают создать уютную атмосферу в любом пространстве.</p>
        <p>Несмотря на то, что наши цвета глубоко традиционны, наши оттенки красок, отделочные покрытия и обои соответствуют как современным, так и традиционным интерьерам.</p>
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler2.jpg")" />

        </div>
    </div>

    <a name="Neytralnie_tsveta_na_zeltoy_isnove"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Нейтральные цвета на желтой основе</h2>
    <div class="lead">
        <p>Мы с особым удовольствием рассказываем о наших нейтральных цветах на желтой основе. Мы считае, что White Tie®, New White, Matchstick® и String® создают очаровательный деревенский стиль "кантри" и приятную для жизни атмосферу.</p>
        <div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler3.jpg")" />

        </div>
    </div>
    <a name="Sovremennie_neytralnie_tsveta"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Современные нейтральные цвета</h2>
    <div class="lead">
        <p>Холодные серые тона придадут Вашей комнате блее современный вид с подразумеваемым теплым колоритом. К ним относятся Wimborne White, Strong White®, Skimming Stone® и Elephant's Breath®.</p>
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler4.jpg")" />

        </div>
    </div>
    @*Рекомендации по декорированию:*@
    <a name="Rekomendatsii_po_dekorirovaniyu"></a>
    <hr class="featurette-divider" />
    <h1 class="featurette-heading">Рекомендации по декорированию:</h1>
    <hr class="featurette-divider" />
    <div class="featurette">
        <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler5.jpg")" />

    </div>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Как создать иллюзию большого пространства</h2>
    <div class="lead">
        <p>Не считая дорогостоящих пристроек и услуг архитекторов, чтобы изменить форму комнаты, можно использовать цвет. Более темный цвет стены приблизит ее к Вам, тогда как более светлый цвет создает иллюзию, что стена расположена дальше.</p>
        <p>Вы можете также не допустить, чтобы узкие прихожие выглядели «туннелеобразными», покрасив торцевую  стену в более темный оттенок, чем боковые стены.</p>

    </div>
    <a name="Sozdaenie_garmonichnih_perehodov"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Создание гармоничных переходов во всем доме</h2>

    <div class="lead">

        <p>Возможно, мы чрезмерно увлечены красками, но мы знаем, как легко можно допустить ошибку, занимаясь художественным оформлением всего дома. Мы рекомендуем подбирать цвета, имеющие одинаковую тональную насыщенность. Лучше всего выполнять декорирование поэтапно, этаж за этажом: учитывая линию прямой видимости между комнатами - причем, в данном случае нет никакой необходимости в соблюдении абсолютной точности, но стоит предусмотреть, как цвета смежных комнат будут дополнять друг друга.</p>
        <p>Можно получить интересный эффект, создав контраст цвета стен и столярных изделий, комната за комнатой, и сочетать цвет стен в главной зоне с цветом столярных изделий других комнат. Это создает ощущение целостности и разнообразит получаемый эффект, так как некоторые комнаты будут светлее других.</p>
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler6.jpg")" />

        </div>
    </div>
    <a name="Kak_sozdat_oshushenie_svetloj_komnati"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Как создать ощущение более светлой комнаты</h2>

    <div class="lead">

        <p>Используя темные тона красок в прихожей, Вы сразу же добиваетесь того, что комнаты, удаленные от прихожей, кажутся более теплыми и яркими, а также более просторными. Загляните в светлую комнату из затемненного пространства, и Вы обязательно почувствуете, что как бы находитесь в пещере.</p>
        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler7.jpg")" />

        </div>
    </div>

    <a name="Optimalnij_interer_s_naznachitelnim_osvesheniem"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Оптимальный интерьер комнаты с незначительным уровнем естественной освещенности</h2>

    <div class="lead">

        <p>Большинство из нас живет в достаточно небольших комнатах, в которых полностью не ощущается преимущество естественного света, и всем нам свойственно стремление окрасить свою комнату в невероятный белый цвет для создания иллюзии ее освещенности.</p>
        <p>Но вместо того, чтобы непреднамеренно превращать свою ванную комнату на нижнем этаже в приемную врача, гораздо разумнее использовать теплые, слегка темные тона или даже обои с рельефным узором, чтобы создать яркую и одновременно уединенную атмосферу.</p>
        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler8.jpg")" />

        </div>
    </div>

    <a name="Sozdaniye_oshchushchuniya_vysokogo_potolka"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Создание ощущения высокого потолка</h2>

    <div class="lead">

        <p>Чтобы создать иллюзию более высокого потолка, лучше всего использовать один и тот же цвет для столярных изделий, стен и карнизов или свода потолка, поскольку это создаст ощущение более высоких стен. Для этих же целей может подойти и белый цвет потолка, гармонирующий с цветом стен, что не акцентирует Ваше внимание на том, где заканчивается стена, а где начинается потолок. Льюис Кэрролл не возражал бы против такого решения.</p>
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler9.jpg")" />

        </div>
    </div>

    @* Различные стили декорирования *@
    <a name="Razlichnyye_stili_dekorirovaniya"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Различные стили декорирования</h2>
    <div class="lead">
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler11.jpg")" />
        </div>
        <blockquote>
            <p>Существует несметное множество способов, облегчающих процесс декорирования, однако, в основе всего, в том числе и Ваших предпочтений в отношении дома, лежат выбор цвета и дизайн. Не существует догматических принципов относительно дизайна интерьера, однако, известны несколько наиболее популярных стилей, которые могут Вам помочь в поиске решения:</p>
        </blockquote>
        <h2 class="featurette-heading">Цветные стены и белые столярные изделия</h2>
        <p>В основе традиционного стиля - использование одного цвета для стен и белого лака для столярных изделий интерьера.</p>
        <p>Визуально он воспринимается как нечто светлое и лишенное излишних деталей, однако, мы считаем, что иногда решение в таком стиле может оказаться раздражающим. Чтобы сгладить контрастность: выберите мягкий дополняющий цвет для потолка. Благодаря этому контраст между границами цветов будет более сглаженным, и в результате комната будет выглядеть удивительно просторной.</p>
        <p>Чтобы ознакомиться с предлагаемыми дополняющими нейтральными цветами, зайдите на наш веб-сайт и нажмите выбранный Вами вариант краски.</p>
        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler10.jpg")" />
        </div>
    </div>


    <a name="SVETLYYE_STENY_I_BOLEYE_TEMNYYE_STOLYARNYYE_IZDELIYA"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">СВЕТЛЫЕ СТЕНЫ И БОЛЕЕ ТЕМНЫЕ СТОЛЯРНЫЕ ИЗДЕЛИЯ</h2>
    <div class="lead">
        <p>Превосходный способ создать ощущение света и простора - использовать самые светлые тона на самых крупных поверхностях, таких как стены, и более темный тон для столярных изделий.</p>
        <p>Такой подход дает очень неплохие результаты, если Вы используете нейтральную цветовую гамму, и создает более выраженное ощущение «декорированности».</p>
        <p>Использование темного цвета для плинтусов не только придает стенам большую яркость из-за контраста, но также создает выразительный современный стиль - придавая всем предметам, находящимся выше, ощущение удлиненности и легкости.</p>
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler12.jpg")" />
        </div>
    </div>

    <a name="ODIN_I_TOT_ZHE_TSVET_DLYA_STEN_I_STOLYARNYKH_IZDELIY"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">ОДИН И ТОТ ЖЕ ЦВЕТ ДЛЯ СТЕН И СТОЛЯРНЫХ ИЗДЕЛИЙ</h2>

    <div class="lead">

        <p>Использование одного и того же цвета для окраски стен и столярных изделий является достаточно популярным в современных интерьерах, поскольку создает выразительный и свежий внешний вид.</p>
        <p>Такой подход создает в комнате атмосферу покоя, одновременно расширяя ее пространство, поскольку отсутствуют контрастные переходы, привлекающие взгляд.</p>
        <p>Мы подобрали несколько вариантов нашей краски Calamine®, обеспечивающие необычайно успокаивающее воздействие на атмосферу комнаты.</p>

        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler13.jpg")" />

        </div>
    </div>
@*Примеры для вдохновения*@
    <a name="Primery dlya vdokhnoveniya"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Примеры для вдохновения</h2>

    <div class="lead">
              

        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_1.jpg")" />
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_2.jpg")" />
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_3.jpg")" />
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_4.jpg")" />
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_5.jpg")" />
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_6.jpg")" />
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/examples_for_inspiration/examples_for_inspiration_7.jpg")" />
            

        </div>
    </div>
@*Wallpaper*@

    <a name="Wallpaper"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Обои</h2>

    <div class="lead">

        <p>Наши дизайнеры демонстрируют самые настоящие чудеса при разработке рисунков для обоев: благодаря цветочным узорам, узорам в стиле дамаск, узорам из полос и геометрическим узорам, воплощенным в более чем 1000 цветовых решений, мы можем удовлетворить любую Вашу прихоть, связанную с обоями.</p>
        <p>Пожалуйста, познакомьтесь с лучшим, что накоплено и создано нашим коллективом, посетив наши демонстрационные залы, фирмы, имеющие запасы готовой продукции, или веб-сайт, где Вы найдете полный ассортимент красок и образцов. На следующих страницах представлены образцы всех наших обоев, доступных в настоящее время.</p>
        <p>Выбор варианта краски для отделки Вашей комнаты может быть нелегким, но достичь гармоничного сочетания очень просто, поскольку при изготовлении наших обоев мы используем собственные краски, обеспечивающие идеальную сочетаемость вариантов.</p>
        <p>Для любого вида наших обоев Вы сможете подобрать рекомендуемый вариант дополняющего нейтрального цвета - либо на обороте подшивок с образцами обоев, либо в нашем магазине.</p>

        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler13.jpg")" />

        </div>
    </div>
</div>





<div style="position: relative; left: 400px;">
    <a class="fl floating" href="#BackToMenu" title="Back to menu Farrow & Ball">Вернуть к меню Farrow & Ball</a>
</div>

<div style="display:none;">
    <a href="@Url.Action("William_Howard", "Products", new { id = "Products__part_WH__William_Howard_catalog" })">
        <img src="@Url.Content("~/Content/images/WH/pdf/catalog.png")" title="Каталог компании W. Howard Limited"/></a>

</div>




