<a name="BackToMenu"></a>
    <hr class="featurette-divider">
    <div>

        <ul class="menuProduct" style="width: 450px;">
            <li><a class="btn ui-corner-all" href="#Tsvet_v_Vashem_dome">Цвет в Вашем доме</a></li>
            <li><a class="btn ui-corner-all" href="#Rekomendatsii_po_dekorirovaniyu">Рекомендации по декорированию</a></li>
            <li><a class="btn ui-corner-all" href="#Primery_dlya_vdokhnoveniya">Примеры для вдохновения</a></li>
            <li><a class="btn ui-corner-all" href="#Interyernyye_kraski">Интерьерные краски</a></li>
            <li><a class="btn ui-corner-all" href="#Kraski_dlya_vneshnikh_rabot">Краски для внешних работ</a></li>
            <li><a class="btn ui-corner-all" href="#Spetsialniye_otdelochnie_pokrytyya">Специальные отделочные покрытия</a></li>
            <li><a class="btn ui-corner-all" href="#Gruntovki_i_pervichnyye_pokrytiya">Грунтовки и первичные покрытия</a></li>
             <li><a class="btn ui-corner-all" href="#Neobhodimoe_kolichestvo_kraski">Оценка необходимого количества краски</a></li>
            
            
        </ul>
    </div>


<a name="Tsvet_v_Vashem_dome"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Цвет в Вашем доме</h2>
    <div class="featurette">
        <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler0.jpg")" />

    </div>
    <div class="lead">
        <p>Вам необязательно обучаться искусству оформления интерьеров, чтобы выбрать свою цветовую гамму. Мы считаем, что самое главное - это ощущение уюта и комфорта в доме.</p>
        <p>Прежде чем перейти к выбору цвета, подумайте о стиле, назначении и форме пространства, которое Вы намерены декорировать.</p>
        <p>Мы предпочитаем начинать подбор цвета с прихожей, чтобы создать естественный цветовой переход из комнаты к комнате.</p>
        <p>Мы выбрали 132 цветовых варианта красок, которые представляют собой подготовленную палитру, благодаря которой легко сказать, какие оттенки дополняют друг друга, позволяя создать гамму настроений и стилей, от мягких и нейтральных, до ярких и оригинальных.</p>
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler1.jpg")" />

        </div>
    </div>
@*Paints*@
    <a name="Traditionnie_neytralnie"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Традиционные нейтральные</h2>
    <div class="lead">
        <p>Нейтральные цвета Farrow & Ваll далеко не бесцветны. Наша компания славится их сдержанной гармонией и способностью изящно украшать комнату.</p>
        <p>Наши обои тоже не занимают нейтральную позицию. Традиционно изготовленные с использованием нашей собственной краски, они созданы, чтобы гармонично сочетаться с оттенками наших красок. На следующей странице мы предлагаем несколько вариантов сочетаний обоев для каждой из четырех групп нейтральных оттенков:</p>
        <p>Такие теплые серые тона как Sliррег Satin, Lime White, Off-White и Old White обеспечивают утонченный присутствия. Это традиционные цвета, которые отлично смотрятся в современных интерьерах.</p>

        <div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler.jpg")" />

        </div>

    </div>
    <a name="Neytralnie_tsveta_na_krasnoy_isnove"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Нейтральные цвета на красной основе</h2>
    <div class="lead">
        <p>Теплые тона предназначены не только для продуваемых сквозняком комнат. Рointing®, Dimity®, Joa's White® и Archive® помогают создать уютную атмосферу в любом пространстве.</p>
        <p>Несмотря на то, что наши цвета глубоко традиционны, наши оттенки красок, отделочные покрытия и обои соответствуют как современным, так и традиционным интерьерам.</p>
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler2.jpg")" />

        </div>
    </div>

    <a name="Neytralnie_tsveta_na_zeltoy_isnove"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Нейтральные цвета на желтой основе</h2>
    <div class="lead">
        <p>Мы с особым удовольствием рассказываем о наших нейтральных цветах на желтой основе. Мы считае, что White Tie®, New White, Matchstick® и String® создают очаровательный деревенский стиль "кантри" и приятную для жизни атмосферу.</p>
        <div class="featurette">
            <img class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler3.jpg")" />

        </div>
    </div>
    <a name="Sovremennie_neytralnie_tsveta"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Современные нейтральные цвета</h2>
    <div class="lead">
        <p>Холодные серые тона придадут Вашей комнате блее современный вид с подразумеваемым теплым колоритом. К ним относятся Wimborne White, Strong White®, Skimming Stone® и Elephant's Breath®.</p>
        <div class="featurette">
            <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler4.jpg")" />

        </div>
    </div>
    
@*Рекомендации по декорированию:*@
    <a name="Rekomendatsii_po_dekorirovaniyu"></a>
    <hr class="featurette-divider" />
    <h1 class="featurette-heading">Рекомендации по декорированию:</h1>
    <hr class="featurette-divider" />
    <div class="featurette">
        <img class="featurette-image pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler5.jpg")" />

    </div>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Как создать иллюзию большого пространства</h2>
    <div class="lead">
        <p>Не считая дорогостоящих пристроек и услуг архитекторов, чтобы изменить форму комнаты, можно использовать цвет. Более темный цвет стены приблизит ее к Вам, тогда как более светлый цвет создает иллюзию, что стена расположена дальше.</p>
        <p>Вы можете также не допустить, чтобы узкие прихожие выглядели «туннелеобразными», покрасив торцевую  стену в более темный оттенок, чем боковые стены.</p>

    </div>
    <a name="Sozdaenie_garmonichnih_perehodov"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Создание гармоничных переходов во всем доме</h2>

    <div class="lead">

        <p>Возможно, мы чрезмерно увлечены красками, но мы знаем, как легко можно допустить ошибку, занимаясь художественным оформлением всего дома. Мы рекомендуем подбирать цвета, имеющие одинаковую тональную насыщенность. Лучше всего выполнять декорирование поэтапно, этаж за этажом: учитывая линию прямой видимости между комнатами - причем, в данном случае нет никакой необходимости в соблюдении абсолютной точности, но стоит предусмотреть, как цвета смежных комнат будут дополнять друг друга.</p>
        <p>Можно получить интересный эффект, создав контраст цвета стен и столярных изделий, комната за комнатой, и сочетать цвет стен в главной зоне с цветом столярных изделий других комнат. Это создает ощущение целостности и разнообразит получаемый эффект, так как некоторые комнаты будут светлее других.</p>
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler6.jpg")" />

        </div>
    </div>
    <a name="Kak_sozdat_oshushenie_svetloj_komnati"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Как создать ощущение более светлой комнаты</h2>

    <div class="lead">

        <p>Используя темные тона красок в прихожей, Вы сразу же добиваетесь того, что комнаты, удаленные от прихожей, кажутся более теплыми и яркими, а также более просторными. Загляните в светлую комнату из затемненного пространства, и Вы обязательно почувствуете, что как бы находитесь в пещере.</p>
        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler7.jpg")" />

        </div>
    </div>

    <a name="Optimalnij_interer_s_naznachitelnim_osvesheniem"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Оптимальный интерьер комнаты с незначительным уровнем естественной освещенности</h2>

    <div class="lead">

        <p>Большинство из нас живет в достаточно небольших комнатах, в которых полностью не ощущается преимущество естественного света, и всем нам свойственно стремление окрасить свою комнату в невероятный белый цвет для создания иллюзии ее освещенности.</p>
        <p>Но вместо того, чтобы непреднамеренно превращать свою ванную комнату на нижнем этаже в приемную врача, гораздо разумнее использовать теплые, слегка темные тона или даже обои с рельефным узором, чтобы создать яркую и одновременно уединенную атмосферу.</p>
        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler8.jpg")" />

        </div>
    </div>

    <a name="Sozdaniye_oshchushchuniya_vysokogo_potolka"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Создание ощущения высокого потолка</h2>

    <div class="lead">

        <p>Чтобы создать иллюзию более высокого потолка, лучше всего использовать один и тот же цвет для столярных изделий, стен и карнизов или свода потолка, поскольку это создаст ощущение более высоких стен. Для этих же целей может подойти и белый цвет потолка, гармонирующий с цветом стен, что не акцентирует Ваше внимание на том, где заканчивается стена, а где начинается потолок. Льюис Кэрролл не возражал бы против такого решения.</p>
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler9.jpg")" />

        </div>
    </div>

    @* Различные стили декорирования *@
    <a name="Razlichnyye_stili_dekorirovaniya"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Различные стили декорирования</h2>
    <div class="lead">
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler11.jpg")" />
        </div>
        <blockquote>
            <p>Существует несметное множество способов, облегчающих процесс декорирования, однако, в основе всего, в том числе и Ваших предпочтений в отношении дома, лежат выбор цвета и дизайн. Не существует догматических принципов относительно дизайна интерьера, однако, известны несколько наиболее популярных стилей, которые могут Вам помочь в поиске решения:</p>
        </blockquote>
        <h2 class="featurette-heading">Цветные стены и белые столярные изделия</h2>
        <p>В основе традиционного стиля - использование одного цвета для стен и белого лака для столярных изделий интерьера.</p>
        <p>Визуально он воспринимается как нечто светлое и лишенное излишних деталей, однако, мы считаем, что иногда решение в таком стиле может оказаться раздражающим. Чтобы сгладить контрастность: выберите мягкий дополняющий цвет для потолка. Благодаря этому контраст между границами цветов будет более сглаженным, и в результате комната будет выглядеть удивительно просторной.</p>
        <p>Чтобы ознакомиться с предлагаемыми дополняющими нейтральными цветами, зайдите на наш веб-сайт и нажмите выбранный Вами вариант краски.</p>
        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler10.jpg")" />
        </div>
    </div>


    <a name="SVETLYYE_STENY_I_BOLEYE_TEMNYYE_STOLYARNYYE_IZDELIYA"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">СВЕТЛЫЕ СТЕНЫ И БОЛЕЕ ТЕМНЫЕ СТОЛЯРНЫЕ ИЗДЕЛИЯ</h2>
    <div class="lead">
        <p>Превосходный способ создать ощущение света и простора - использовать самые светлые тона на самых крупных поверхностях, таких как стены, и более темный тон для столярных изделий.</p>
        <p>Такой подход дает очень неплохие результаты, если Вы используете нейтральную цветовую гамму, и создает более выраженное ощущение «декорированности».</p>
        <p>Использование темного цвета для плинтусов не только придает стенам большую яркость из-за контраста, но также создает выразительный современный стиль - придавая всем предметам, находящимся выше, ощущение удлиненности и легкости.</p>
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler12.jpg")" />
        </div>
    </div>

    <a name="ODIN_I_TOT_ZHE_TSVET_DLYA_STEN_I_STOLYARNYKH_IZDELIY"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">ОДИН И ТОТ ЖЕ ЦВЕТ ДЛЯ СТЕН И СТОЛЯРНЫХ ИЗДЕЛИЙ</h2>

    <div class="lead">

        <p>Использование одного и того же цвета для окраски стен и столярных изделий является достаточно популярным в современных интерьерах, поскольку создает выразительный и свежий внешний вид.</p>
        <p>Такой подход создает в комнате атмосферу покоя, одновременно расширяя ее пространство, поскольку отсутствуют контрастные переходы, привлекающие взгляд.</p>
        <p>Мы подобрали несколько вариантов нашей краски Calamine®, обеспечивающие необычайно успокаивающее воздействие на атмосферу комнаты.</p>

        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/ImageHandler13.jpg")" />

        </div>
    </div>

<a name="Interyernyye_kraski"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">Внутренние стены и потолоки</h2>
    <div class="featurette">
    <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Interyernyye_kraski/Interyernyye_kraski_1.jpg")" />
    </div>
    <div class="featurette lead">
        <blockquote>
        <p>Все наши краски имеют водную основу, слабый запах и быстро высыхают. Если не указано иное, все отделочные покрытия имеют 132 варианта цвета.</p>
        </blockquote>
        <hr class="featurette-divider" />
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/Interyernyye_kraski/Interyernyye_kraski_2.jpg")" />
        </div>

         <h2 class="featurette-heading" >ESTATE® EMULSION</h2>
        <p>Отделочная краска, придающая такой желанный характерный вид Farrow & Ball. Может применяться для покрытия стен и потолков, имеет известково-белую матовую фактуру и обладает бесподобной глубиной цвета.</p>
        <hr class="featurette-divider" />
    
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/Interyernyye_kraski/Interyernyye_kraski_3.jpg")" />
        </div>
    
        <h2 class="featurette-heading" >MODERN EMULSION</h2>
        <p>Modern Emulsion является оптимальной высококачественной альтернативой Estate® Emulsion. Она не придает особого блеска поверхности, но поддается мойке и обеспечивает превосходную устойчивость против пятен и царапин. Это покрытие идеально подходит для стен и потолков в кухнях, ванных комнатах, прихожих, детских комнатах и прочих помещениях, которые часто используются.</p>
        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Interyernyye_kraski/Interyernyye_kraski_4.jpg")" />
        </div>
</div>

    <a name="VNUTRENNIYE_DEREVYANNYYE_I_METALLICHESKIYE_POVERKHNOSTI"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">ВНУТРЕННИЕ ДЕРЕВЯННЫЕ И МЕТАЛЛИЧЕСКИЕ ПОВЕРХНОСТИ</h2>
    <div class="featurette">
        <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Vnutrenniye_D_M/vnutrenniye_DM_1.jpg")" />
    </div>
    <div class="featurette lead">
        <h2 class="featurette-heading">ESTATE® EGGSHELL</h2>
        <p>Чрезвычайно прочное и долговечное покрытие с блеском яичной скорлупы (иронично названное по аналогии со своей хрупкой тезкой), которое легко протирать и подвергать мойке. Идеально подходит для покрытия внутренних столярных и металлических изделий, включая радиаторы отопления. Незначительная степень блеска этого покрытия делает его идеальным дополнением для Estate® Emulsion и Modem Emulsion.</p>

        <hr class="featurette-divider" />


        <h2 class="featurette-heading">DEAD FLAT</h2>
        <p>Традиционное матирующее покрытие поверхности подходит для использования при внутренних работах для покраски деревянных изделий, штукатурки и металлических поверхностей, для которых необходима исключительно матовая, элегантная отделка. Не подходит для применения в кухонных и ванных помещениях, для покрытия мебели или поверхностей, подвергающихся значительным нагрузкам. Это покрытие изготавливается под заказ и не подлежит возврату.</p>


        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/Vnutrenniye_D_M/vnutrenniye_DM_2.jpg")" />
        </div>

        <h2 class="featurette-heading">DEAD FLAT AND EGGSHELL VARNISHES</h2>
        <p>Dead Flat Varnish придает классический матовый внешний вид, в то время как Eggshell Varnish обладает низкой степенью блеска. Оба покрытия являются высококачественными, слабо пахнущими лаками, идеально подходящими для неотделанной и окрашенной древесины или металлических поверхностей. Dead Flat Varnish можно протирать, a Eggshell Varnish -подвергать мойке.</p>


        <hr class="featurette-divider" />

        <h2 class="featurette-heading">FLOOR PAINT</h2>
        <p>Эта износостойкая краска имеет классическую фактуру яичной скорлупы, благодаря которой сможет оживить поверхность любого деревянного или каменного пола внутри помещения, включая гаражи и мастерские. Не рекомендуется использовать эту краску для покрытия внешних настилов или иных поверхностей, подвергающихся внешним воздействиям вне помещений.</p>

        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Vnutrenniye_D_M/vnutrenniye_DM_3.jpg")" />
        </div>

        <h2 class="featurette-heading">FULL GLOSS</h2>
        <p>Традиционное глянцевое покрытие с 95%-й степенью блеска. Обладает универсальностью и прочностью, подходит для покрытия как внешних, так и внутренних деревянных и металлических поверхностей.</p>

    </div>
    <a name="Kraski_dlya_vneshnikh_rabot"></a>
    <hr class="featurette-divider" />

    <h2 class="featurette-heading">КРАСКИ ДЛЯ ВНЕШНИХ РАБОТ</h2>
    <div class="featurette">
        <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Kraski_dlya_vneshnikh_rabot/Kraski_dlya_vneshnikh_rabot_1.jpg")" />
        <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/Kraski_dlya_vneshnikh_rabot/Kraski_dlya_vneshnikh_rabot_4.jpg")" />
    </div>
    <div class="featurette lead">
        <h2 class="featurette-heading">EXTERIOR EGGSHELL</h2>
        <p>Подходит для применения по мягкой и твердой древесине, для оконных рам, наружной обшивки зданий и садовой мебели. Это покрытие достаточно долговечно и пластично, обладает высокой устойчивостью против отслаивания и шелушения. Его также можно применять для покрытия изгородей, ворот, кровельных желобов, фурнитуры и прочих металлических поверхностей.</p>
        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Kraski_dlya_vneshnikh_rabot/Kraski_dlya_vneshnikh_rabot_2.jpg")" />
        </div>

        <hr class="featurette-divider" />
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/Kraski_dlya_vneshnikh_rabot/Kraski_dlya_vneshnikh_rabot_3.jpg")" />
        </div>
        <h2 class="featurette-heading">FULL GLOSS</h2>
        <p>Традиционное глянцевое покрытие с 95%-й степенью блеска. Обладает универсальностью и прочность, подходит для покрытия как внешних, так и внутренних деревянных и металлических поверхностей.</p>

        <hr class="featurette-divider" />

        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Kraski_dlya_vneshnikh_rabot/Kraski_dlya_vneshnikh_rabot_5.jpg")" />
        </div>

        <h2 class="featurette-heading">EXTERIOR MASONRY</h2>
        <p>Дом нуждается в косметическом ремонте фасада? Это покрытие является символом матовости Farrow & Ball в сочетании с исключительной долговечностью. Чрезвычайно прочное и износостойкое покрытие, которое может использоваться для всех каменных кладок. Доступны более 100 вариантов оттенков. Чтобы ознакомиться подробнее, пожалуйста, зайдите на наш веб-сайт.</p>
        <div class="featurette">
            <img class="featurette-image  pull-right ui-corner-all" src="@Url.Content("~/Content/images/FB/Kraski_dlya_vneshnikh_rabot/Kraski_dlya_vneshnikh_rabot_6.jpg")" />
        </div>

        <hr class="featurette-divider" />

        <h2 class="featurette-heading">LIMEWASH</h2>
        <p>Эта готовая к применению побелка limewash подходит для внутренних стеновых покрытий, потолков и внешних стеновых покрытий. Доступны белый цвет и отдельные варианты оттенков. Чтобы ознакомиться подробнее, пожалуйста, зайдите на наш веб-сайт.</p>

        <div class="featurette">
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Kraski_dlya_vneshnikh_rabot/Kraski_dlya_vneshnikh_rabot_7.jpg")" />
        </div>

    </div>


<a name="Spetsialniye_otdelochnie_pokrytyya"></a>
    <hr class="featurette-divider" />

    <h2 class="featurette-heading">СПЕЦИАЛЬНЫЕ ОТДЕЛОЧНЫЕ ПОКРЫТИЯ</h2>
<div class="featurette lead">
<blockquote>
        <p>Чтобы удачно осуществить косметический ремонт исторического и антикварного имущества наши специальные отделочные покрытия являются обязательным компонентом для создания подлинного вида. Эти покрытия изготавливаются под заказ с использованием традиционных и натуральных компонентов и не подлежат возврату.</p>
        </blockquote>
</div>     
    <div class="featurette lead">
        
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Spetsialniye_otdelochnie_pokrytyya.jpg")" />
        
        <h2 class="featurette-heading">CASEIN DISTEMPER</h2>
        <p>Усиленная клеевая краска с добавлением казеина, поверхность которой можно протирать. Подходит для внутренних оштукатуренных стен и потолков, обладает отличной кроющей способностью, обеспечивает «дыхание» окрашенной поверхности.</p>
        <h2 class="featurette-heading">SOFT DISTEMPER</h2>
        <p>Простая, традиционная клеевая краска в сочетании с натуральным полимером образует чрезвычайно ровную и крайне рыхлую фактуру. Такое покрытие обеспечивает «дыхание» потолков, а также может использоваться для окончательной отделки деталей оштукатуренных поверхностей. Доступен только в светлых цветах. Чтобы ознакомиться подробнее, пожалуйста, зайдите в наш магазин @Html.ActionLink("в наш магазин", "Contact", "Home").</p>
        <h2 class="featurette-heading">DEAD FLAT</h2>
        <p>Традиционное матирующее покрытие поверхности подходит для использования при внутренних работах для покраски деревянных изделий, штукатурки и металлических поверхностей, для которых необходима исключительно матовая, элегантная отделка. Не подходит для применения в кухонных и ванных помещениях, для покрытия мебели или поверхностей, подвергающихся значительным нагрузкам.</p>
        
    </div>

<a name="Gruntovki_i_pervichnyye_pokrytiya"></a>
    <hr class="featurette-divider" />

    <h2 class="featurette-heading">Грунтовки и первичные покрытия Farrow & Ball</h2>
<div class="featurette lead">
<blockquote>
        <p>Грунтовки и первичные покрытия Farrow & Ball - это более чем необходимая основа для наших непревзойденных отделочных покрытий.</p>
        <p>Для каждой из наших 132 красок имеется особый грунтовочный цвет, созданный для того, чтобы гарантировать, что Ваше покрытие усилено грунтовкой.</p>
        <p>Они были разработаны на основе тех же натуральных компонентов и интенсивных красителей, которые придают высокую степень качества нашим отделочным покрытиям.</p>
        <p>Чтобы подобрать соответствующий грунтовочный цвет, пожалуйста, обратитесь к нашей удобной карточке красок или зайдите в наш магазин, чтобы получить более подробную информацию.</p>
</blockquote>
</div>     
    <div class="featurette lead">
        
            <img class="featurette-image  pull-left ui-corner-all" src="@Url.Content("~/Content/images/FB/Gruntovki_i_pervichnyye_pokrytiya.jpg")" width="600"/>
        
            <h2 class="featurette-heading">WALL & CEILING PRIMER & UNDERCOAT</h2>
        <p>Предназначена для нанесения под Estate® Emulsion и Modem Emulsion. Применение этой грунтовки позволяет обеспечить ровную поверхность отделочного слоя. Доступны в упаковках по 2,5 л. и 5 л.</p>
            <h2 class="featurette-heading">INTERIOR WOOD PRIMER & UNDERCOAT</h2>
        <p>Для использования по неотделанной древесине или ранее окрашенным деревянным поверхностям. Этот продукт позволяет обеспечить идеальную основу для нанесения выбранного отделочного покрытия. Доступны в упаковках по 750 мл., 2,5 л. и 5 л.</p>
        <br/><br/>  
          <h2 class="featurette-heading">EXTERIOR WOOD PRIMER & UNDERCOAT</h2>
        <p>Для применения по наружной необработанной древесине с целью обеспечения защиты, пластичности и «дыхания». Доступны в упаковках по 750 мл. и 2,5 л.</p>
            <h2 class="featurette-heading">METAL PRIMER & UNDERCOAT</h2>
        <p>Препятствующая образованию ржавчины грунтовка для всех непокрытых поверхностей из черных металлов. Ее также можно использовать для покрытия ворот, изгородей, фурнитуры, радиаторов и водосточных труб. Доступна в упаковке 750 мл.</p>
            <h2 class="featurette-heading">WOOD FLOOR PRIMER & UNDERCOAT</h2>
        <p>Для использования на всех видах деревянных полов внутри помещений перед нанесением Floor Paint. Обеспечивает образование идеальной основы и долговечности покрытия. Доступна в упаковках по 750 мл. и 2,5 л.</p>
            <h2 class="featurette-heading">MASONRY & PLASTER STABILISING PRIMER</h2>
        <p>Для применения по каменным кладкам, оштукатуренным поверхностям с пористой структурой, содержащей известь или незначительно изношенным, но структурно целостным. Доступна в упаковке 5 л.</p>
            <h2 class="featurette-heading">WOOD KNOT & RESIN BLOCKING PRIMER</h2>
        <p>Для применения по внутренним и наружным деревянным изделиям. Блокирует образование смолистых пятен на необработанной твердой древесине, смолистой мягкой древесине и сучковатых поверхностях. Он также должен быть использован как блокирующая грунтовка для деревянных полов перед нанесением Wood Floor Primer & Undercoat. Доступна только в одном цветовом варианте и в упаковках по 750 мл. и 2,5 л.</p>
        
    </div>
<a name="Neobhodimoe_kolichestvo_kraski"></a>
    <hr class="featurette-divider" />

    <h2 class="featurette-heading">ОЦЕНКА НЕОБХОДИМОГО КОЛИЧЕСТВА КРАСКИ</h2>
<div class="featurette lead">
   
        <p>Ниже приведено справочное руководство, используя которое Вы сможете выбрать нужный отделочный слой, первичное покрытие, а также определить их количество, которое потребуется Вам для ремонта. Чтобы найти дополнительную информацию о любом из наших продуктов, пожалуйста, поситите наш магазин.</p>
          

@Html.Partial("Products/part_FB/_table_of_FB_paints")
</div>

<div style="position: relative; left: 400px;">
    <a class="fl floating" href="#BackToMenu" title="Back to menu Farrow & Ball">Вернуть к меню Farrow & Ball</a>
</div>