<hr class="featurette-divider">



<div >
    <iframe style="padding: 5px; background-color: #c7bdbd" class="ui-corner-all" width="640" height="360" src="http://www.youtube.com/embed/1IsIZQlWS14?rel=0"></iframe>
</div>
<hr class="featurette-divider">

<div class="featurette">
    <img class="featurette-image pull-left ui-corner-all" src="~/Content/images/LG/paints/LG_paints_1.jpg" alt="Little Greene"/>
    <img class="featurette-image pull-left ui-corner-all" src="~/Content/images/LG/paints/LG_paints_2.jpg" alt="Little Greene"/>
    <img class="featurette-image pull-left ui-corner-all" src="~/Content/images/LG/paints/LG_paints_3.jpg" alt="Little Greene"/>
</div>
<a id="BackToMenu"></a>
<div >
    <ul class="menuProduct" style="width: 480px;">
        <li><a class="btn ui-corner-all" href="#welcomeLG" title="Добро пожаловать в Little Greene">Добро пожаловать в Little Greene</a></li>
        <li><a class="btn ui-corner-all" href="#assistedLG" title="При содействии">При содействии</a></li>
        <li><a class="btn ui-corner-all" href="#environment" title="Есо – Окружающая среда">Есо – Окружающая среда</a></li>
        <li><a class="btn ui-corner-all" href="#colors_check" title="Выбираем цвета">Выбираем цвета
        </a></li>
        <li><a class="btn ui-corner-all" href="#paint_for_ceiling_wall" title="Краски для стен и потолков ">Краски для стен и потолков 
        </a></li>
        <li><a class="btn ui-corner-all" href="#paint_for_kitchen_bathroom" title="Краски для кухни и ванной комнаты">Краски для кухни и ванной комнаты 
        </a></li>
        <li><a class="btn ui-corner-all" href="#paints_for_wood_products" title="Краски для изделий из дерева">Краски для изделий из дерева 
        </a></li>
        <li><a class="btn ui-corner-all" href="#paint_for_outdoor_use" title="Краски для наружных работ">Краски для наружных работ 
        </a></li>
        <li><a class="btn ui-corner-all" href="#traditional_paint" title="Традиционные краски  ">Традиционные краски  
        </a></li>
        <li><a class="btn ui-corner-all" href="#primers" title="Грунтовки">Грунтовки  
        </a></li>
        <li><a class="btn ui-corner-all" href="#smart_paint" title="и руководство по использованию ">«Умные краски» 
        </a></li>
         <li class="btn ui-corner-all"><a class="btn ui-corner-all" href="#wallpaper">Выбираем обои</a></li>
           <li class="btn ui-corner-all"><a class="btn ui-corner-all" href="#wallpaperXVIII">Обои XVIII века</a></li>
           <li class="btn ui-corner-all"><a class="btn ui-corner-all" href="#wallpaperXIX">Обои XIX века</a></li>
           <li class="btn ui-corner-all"><a class="btn ui-corner-all" href="#wallpaperXX">Обои XX века</a></li>
    </ul>

    <a name="welcomeLG"></a>
    <hr class="featurette-divider">
    <h2 class="featurette-heading">Добро пожаловать в Little Greene</h2>   
     <div class="featurette lead">
        
        <img class="featurette-image  pull-left ui-corner-all" width="250" src="@Url.Content("~/Content/images/LG/images/sample-pots.jpg")"  alt="Добро пожаловать в Little Greene" title="Добро пожаловать в Little Greene" />
        <p>
            Little Greene дарит Вам две палитры – Цвета Англии ‘The Colours of England’ и Шкала цвета ‘Colour Scales’ – 164 красивых оттенка из наших архивов и архивов English Heritage.
    Вместе обе палитры объединяют более 300 лет английского интерьерного декора и каждый цвет может рассказать свою историю – от шоколадного ‘Chocolate Colour’,
    в который была выкрашена входная дверь Георга Фридриха Генделя до цвета ‘Invisible Green’ ландшафтного дизайнера Хамфри Рептона.
        </p>

        <p>
            Наши сложные и глубокие цвета созданы с использованием традиционных и современных пигментов. 
     В наших красках в среднем на 40% больше пигментов, чем в обычных красках, что делает их непревзойденными по глубине цвета – оттенки, которые неуловимо меняются при разном освещении, наделяя цвет настоящим характером. 
    Чем более сложная пигментация – тем интереснее цвет.
        </p>

        <p>Мы создали один из самых дружелюбных к окружающей среде ассортиментов красок для любого нанесения, по этическим соображениям производимые только в Великобритании, без уступок по качеству или техническим характеристикам.</p>
        <p>
            Как последний английский производитель, до сих пор самостоятельно выпускающий весь свой ассортимент традиционных и современных красок только в Англии, Little Greene продолжает быть образцом высококачественных красок, 
        естественным образом заставляя нас участвовать в исследованиях и реставрационных работах, учреждаемых ассоциацией English Heritage.
        </p>
        <p>Наши красивые краски продуманы до конца. Благодаря тщательно подобранным составляющим наши краски легко наносятся и могут похвастать лучшей кроющей способностью, чем у других, делая Ваш выбор краски Little Greene практичным и экономичным.</p>

    </div>

     <a name="assistedLG"></a>
    <hr class="featurette-divider"> 
    <div id="assistedLG" class="featurette lead">
        <h2 class="featurette-heading">Little Greene при содействии</h2>
        <img class="div_img ui-corner-all" style="float:right; width: 400px;" src="@Url.Content("~/Content/images/LG/banner2.jpg")" alt="Little Greene при содействии" title="Little Greene при содействии" />
        <p>Ассоциация English Heritage существует, чтобы защитить и популяризировать захватывающую историческую среду Англии. Работая вместе с English Heritage, мы разработали палитру исторических цветов, охватывающих все ключевые периоды истории Англии от раннего георгианского периода до конца XX столетия.</p>
        <p>Некоторые цвета являются знаковыми, пришедшие через столетнее забвение, а некоторые являются вечными классическими. По сути, все эти полностью достоверные цвета наряду с современными цветами Little Greene создают палитру цветов Англии Colours of England, которые удобно выбрать и среди которых приятно жить. Исторические цвета в нашей палитре отмечены красными кружочками с буквой внутри.</p>
        <p>Эксклюзивный дизайн коллекции обоев ‘London Wallpapers’ был создан под впечатлением от сохранившихся кусков обоев, собранных в архивах ассоциации English Heritage и найденных в одних из самых престижных домов столицы Англии. За воскрешение многих моделей обоев XX века мы обязаны художественной галерее Уитворт Арт Гэллери в Манчестере, любезно предоставившую нам свой крупнейший в Англии архив.</p>
        <p>Вклад от продаж каждого рулона обоев и каждой банки краски направляется на работу English Heritage в сохранении наших самых заветных зданий для будущих поколений. </p>

    </div>
     <a name="environment"></a>
    <hr class="featurette-divider"> 
    <h3 class="featurette-heading">Окружающая среда </h3>
    <div id="environment" title="Окружающая среда" class="featurette lead">
        <img class="featurette-image pull-left ui-corner-all" src="~/Content/images/LG/paints/LG_paints_eco.jpg" />
        
        <p>Экологически чистые краски и обои Little Greene являются также одними из самых качественных продуктов. Мы используем только лучшие натуральные, органические и безопасные синтетические красители, которые придают краске превосходную глубину цвета, высокую кроющую способность и длительный срок службы, особо ожидаемый от современных красок.</p>
        <br />
        <ul class="unstyled">
            <li>Водные краски, которые значительно превосходят все существующие требования по содержанию летучих органических соединений (ЛОС).</li>
            <li>Масляные краски, разработанные с использованием природных растительных масел.</li>
            <li>Лучшая кроющая способность способствует использованию меньшего количества ресурсов.</li>
            <li>Краски безопасны для детей. В частности, наши краски Absolute Matt, Intelligent Matt и Intelligent Eggshell сертифицированы по стандарту безопасности для детей BS EN 71-3:1995.</li>
            <li>Переработка – вся упаковка изготовлена с использованием вторично обработанного сырья и также может быть переработана.</li>
            <li>Безопасность производства сертифицирована по Европейскому стандарту BS EN ISO 14001:2004.</li>
        </ul>
        <p>
            Все краски Little Greene произведены в соответствии с высоким стандартом EN ISO 9001 и пригодны для профессионального и домашнего использования.
        </p>

        <p>Все цвета Little Greene доступны в широком ассортименте экологически чистых водных и масляных красок в соответствии с таблицей.</p>
        <p>Экологически чистая водная краска</p>
        <p>Экологически чистая масляная краска (с пониженным содержанием ЛОС)</p>
    </div>
</div>
<div >
@Html.Partial("Products/part_LG/paints_Little_Greene")
    </div>
<div >
@Html.Partial("Products/part_LG/wallpapers_Little_Greene")
    </div>
<div>
    @Html.Partial("Products/part_LG/advice_Little_Greene")
</div>