   <hr class="featurette-divider">
    <div>
        <ul class="menuProduct" style="width: 450px;">
           <li class="btn ui-corner-all"><a class="btn ui-corner-all" href="#wallpaper">Выбираем обои</a></li>
           <li class="btn ui-corner-all"><a class="btn ui-corner-all" href="#wallpaperXVIII">Обои XVIII века</a></li>
           <li class="btn ui-corner-all"><a class="btn ui-corner-all" href="#wallpaperXIX">Обои XIX века</a></li>
           <li class="btn ui-corner-all"><a class="btn ui-corner-all" href="#wallpaperXX">Обои XX века</a></li>
       </ul>
    </div>


<a id="wallpaper"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading"> Выбираем обои</h2>
    <div class="featurette">
        <img style="height: 500px !important; width: 450px !important;" class="featurette-image pull-right ui-corner-all" src="@Url.Content("~/Content/images/LG/wallpaper/Tin_Wallpaper.jpg")" />
    </div>
    <div class="lead">

        <p>Каждая коллекция совмещает труд специалистов и традиционный метод производства на бумаге высшего сорта. Флексография, глубокая и поверхностная печать с одновременным использованием традиционной бумаги и бумаги на нетканой основе – флизелине – позволяют достичь наивысшей подлинности. Мы используем только водные чернила наивысшего качества, чтобы придать обоям утонченную текстуру, глубину цвета, изящный внешний вид и долговечность. Все обои могут подвергаться деликатной чистке, а некоторые – мытью.</p>
        <p>Ко всем обоям мы рекомендуем цвета красок из нашей палитры ‘Colours of England’, чтобы Вам было проще и удобнее создать антураж Вашего дома.</p>
        <h3 class="muted"> Расчет количества обоев</h3>
        <p>Чтобы рассчитать количество рулонов, необходимых для оклеивания, обратитесь к помощи декоратора или мастеру, который будет осуществлять работы.</p>
        <p>Все обои имеют ширину 52см и длину 10м. Минимальный заказ – от одного рулона.</p>
        <h3 class="muted">Обойный клей Little Greene</h3>
        <p>Для инсталляции обоев Little Greene необходимо использовать готовый к нанесению обойный клей Little Greene Ready Mixed Wallpaper Paste. Специально разработанный для наших обоев клей расфасован в ведрах по 5кг и 2,5кг. Одного ведра 2,5кг хватает до 3 стандартных рулонов.</p>        
        <h3 class="muted">Образцы обоев</h3>
        <p>Помочь сделать правильный выбор помогут оригинальные образцы обоев формата А4, доступные во всех дизайнах и цветовых комбинациях. Вы можете заказать до 6 образцов обоев из различных коллекций @Html.ActionLink("в нашем магазине", "Contact","Home")</p>
       
       
    </div> 

<a id="wallpaperXVIII"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">ОБОИ XVIII ВЕКА</h2>
    
<div class="featurette">
            <table class="table table-condensed">
                <tr>
                    <td rowspan="2" style="border: 0 !important; text-align: right;">
                        <img class="ui-corner-all" src="@Url.Content("~/Content/images/LG/wallpaper/little-greene-broadwick-st-garden.jpg")" alt="ОБОИ XVIII ВЕКА"/>
                    </td>
                    <td style="border: 0 !important; text-align: left;">
                        <img class="ui-corner-all" width="200" src="@Url.Content("~/Content/images/LG/wallpaper/little-greene-broadwick-st-garden-2.jpg")" /></td>
                </tr>
                <tr>
                    <td style="border: 0 !important; text-align: left;"></td>
                </tr>
            </table>
        </div>
    <div class="lead">
        <p>Лондон находился в эпицентре производства обоев в XVIII веке и большинство дизайнов воспроизведены из образцов конкретных домов Лондона и каждый может быть отождествлен с той или иной комнатой в доме.</p>
        <p>Несмотря на то, что в производстве бумаги и печати все еще в основном применялся ручной труд, применялось множество инновационных способов печати, таких как флок (см. Soho Square) и более дешевый вариант - «пародия флока», при котором правильное использование чернил в том же дизайне позволяло достичь внешнего вида флока, но без соответствующей текстуры.</p>
        <p>Дошедший до наших дней образец Broadwick St., напротив, передает внешний вид североамериканской клузии розовой, или дерева автографов, найденный в каталоге 1743 года и отпечатанной в стиле гравировки. Изначально эти обои печатали не на обычной бумаге, а на переработанных отходах текстильного производства, что было типичным для того периода.</p>
      <div class="featurette">
            <table class="table-condensed">
                <tr>
                    <td rowspan="2" style="border: 0 !important; text-align: right;">
                        <img class="ui-corner-all" width="400" src="@Url.Content("~/Content/images/LG/wallpaper/XVIII-1.jpg")" />
                    </td>
                    <td style="border: 0 !important; text-align: center;">
                        <img class="ui-corner-all" width="200" src="@Url.Content("~/Content/images/LG/wallpaper/XVIII-2.jpg")" />
                        <img class="ui-corner-all" width="200" src="@Url.Content("~/Content/images/LG/wallpaper/XVIII-3.jpg")" />
                    </td>
                    <td rowspan="2" style="border: 0 !important; text-align: left;">
                        <img class="ui-corner-all" width="360" src="@Url.Content("~/Content/images/LG/wallpaper/XVIII-4.jpg")" />
                    </td>
                </tr>
            </table>
        </div>  
       
    </div> 

<a id="wallpaperXIX"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">ОБОИ XIX ВЕКА</h2>
    
<div class="featurette">
            <table class="table table-condensed">
                <tr>
                    <td rowspan="2" style="border: 0 !important; text-align: right;">
                        <img class="ui-corner-all" width="400" src="@Url.Content("~/Content/images/LG/wallpaper/little-greene-great-ormond-street-parchment.jpg")" alt="ОБОИ XIX ВЕКА"/>
                    </td>
                    <td style="border: 0 !important; text-align: left;">
                        <img class="ui-corner-all" width="200" src="@Url.Content("~/Content/images/LG/wallpaper/XIX.jpg")" /></td>
                    
                    
                </tr>
                <tr>
                   
                </tr>
            </table>
        </div>
    <div class="lead">
        <p>1800-е были ключевым периодом в эволюции производства обоев. В этом столетии использование непрерывной печати на основе бумажных катушек, а, затем, в 1840м году и печатного ролика (пришедшего из Франции), окончательно вытеснило широко распространенную ремесленную технику производства обоев отдельными рулонами, так называемыми «кусками» размеров 12 футов на 23 дюйма, которые печатались вручную.</p>
        <p>Коллекция обоев Little Greene XIX века включает в себя обои Лондона London Wallpapers из архивов English Heritage и образцы из Японии, где печатались известные мотивы с использованием тех же методов печати, что и на Западе.</p>
        <p>Имеющие восточное влияние, Обои Great Ormond St. были обнаружены в уборной в Лондоне и воссозданы в трех очаровательных цветовых комбинациях.</p>
      <div class="featurette">
            <table class="table-condensed">
                <tr>
                    <td rowspan="2" style="border: 0 !important; text-align: right;">
                        <img class="ui-corner-all" width="280" src="@Url.Content("~/Content/images/LG/wallpaper/XIX-1.jpg")"  alt="ОБОИ XIX ВЕКА"/>
                    </td>
                    <td rowspan="2" style="border: 0 !important; text-align: center;">
                        <img class="ui-corner-all" width="280" src="@Url.Content("~/Content/images/LG/wallpaper/XIX-2.jpg")"  alt="ОБОИ XIX ВЕКА"/>
                       
                    </td>
                    <td rowspan="2" style="border: 0 !important; text-align: center;">
                         <img class="ui-corner-all" width="280" src="@Url.Content("~/Content/images/LG/wallpaper/XIX-3.jpg")"  alt="ОБОИ XIX ВЕКА"/>
                    </td>
                    <td rowspan="2" style="border: 0 !important; text-align: left;">
                        <img class="ui-corner-all" width="287" src="@Url.Content("~/Content/images/LG/wallpaper/XIX-4.jpg")" alt="ОБОИ XIX ВЕКА"/>
                    </td>
                </tr>
            </table>
        </div>  
       
    </div> 

<a id="wallpaperXX"></a>
    <hr class="featurette-divider" />
    <h2 class="featurette-heading">ОБОИ XX ВЕКА</h2>
    
<div class="featurette">
            <table class="table table-condensed">
                <tr>
                    <td rowspan="2" style="border: 0 !important; text-align: right;">
                        <img class="ui-corner-all" width="400" src="@Url.Content("~/Content/images/LG/wallpaper/little-greene-hampstead-ink.jpg")" alt="ОБОИ XX ВЕКА"/>
                    </td>
                    <td style="border: 0 !important; text-align: left;">
                        <img class="ui-corner-all" width="250" src="@Url.Content("~/Content/images/LG/wallpaper/XX.jpg")" /></td>
                    
                </tr>
                <tr>
                    <td style="border: 0 !important; text-align: left;"></td>
                </tr>
            </table>
        </div>
    <div class="lead">
        <p>В XX веке достижения в механизации производства и потребление обоев росли плечом к плечу. Ближе к концу прошлого столетия очаг производства обоев в Англии сместился из Лондона ближе к источникам сырья - к хлопчатобумажным фабрикам на севере Англии. Многие из образцов обоев в этой коллекции были обнаружены в архивах художественной галереи Уитворт Арт Гэллери в Манчестере.</p>
        <p>К середине столетия облик обоев стал меньше зависеть от способов печать и стал в большей степени зависеть от художественного самовыражения того времени. Это особенно подтверждается свободным и непринужденным стилем 1950-х и более геометрическими узорами 1970-х годов.</p>
        <p>В этот период значительные социальные изменения также отразились в использовании цвета в доме, что подтверждается некоторыми сочетаниями оттенков, которые можно наблюдать в сохранившихся образцах, которые и легли в основу нашей коллекции.</p>
      <div class="featurette">
            <table class="table-condensed">
                <tr>
                    <td rowspan="2" style="border: 0 !important; text-align: right;">
                        <img class="ui-corner-all" width="280" src="@Url.Content("~/Content/images/LG/wallpaper/XX-1.jpg")" />
                    </td>
                    <td rowspan="2" style="border: 0 !important; text-align: center;">
                        <img class="ui-corner-all" width="285" src="@Url.Content("~/Content/images/LG/wallpaper/XX-2.jpg")" />
                       
                    </td>
                    <td rowspan="2" style="border: 0 !important; text-align: center;">
                         <img class="ui-corner-all" width="280" src="@Url.Content("~/Content/images/LG/wallpaper/XX-3.jpg")" />
                    </td>
                    <td rowspan="2" style="border: 0 !important; text-align: left;">
                        <img class="ui-corner-all" width="280" src="@Url.Content("~/Content/images/LG/wallpaper/XX-4.jpg")" alt="ОБОИ XIX ВЕКА"/>
                    </td>
                    
                </tr>
            </table>
        </div>  
       
    </div> 



